body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    background-color: powderblue;
    padding: 50px;
    height: 50px;
}
.header-list li{
    float: left;
padding:33px 20px;
}
li{
    list-style: none;
    float:left;
    padding: 33px 20px;
}
.header-logo{
    float: left;
    font-size: 36px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.footer{
    background-color: o #2f5167 
    height : 120px;
    padding: 40px;
    float: left;
    font-size: 50px;
}
.footer-list li{
    padding-bottom: 20px;
}
.copycontainer h1{
    font-size: 140px;
}
.copycontainer h2{
    font-size: 60px;
}
.contents{
    height: 500px;
}
.section-title{
    border-bottom: 2px solid #dee7ec ;
}
.contents-item{
    float: left;
}